---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Astro CMS">
	<div class="grid h-dvh w-full place-content-center bg-black text-center text-gray-300">
		<h1 class="mb-2 text-sm font-bold">Astro CMS</h1>
		<p class="text-xs opacity-50">More coming soon</p>
	</div>
</Layout>
