---
import AdminLayout from "@/layouts/AdminLayout.astro";
---

<AdminLayout title="Admin area – Secret page">
	<p>This is a secret page. You can only access it if you are logged in.</p>
</AdminLayout>
